.card_quick_actions {
    color: white;
    transition: 0.25s;
}

.card_quick_actions:hover {
    color: black;
    transition: 0.25s;
}

#dashboard-last-update-timestamp {
    color: var(--main-text-color);
    font-size: small;
}
