@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
    height: 100%;
}

body {
    margin: 0px !important;
}

.input_hidden {
    visibility: hidden !important;
    opacity: 0;
    transition: visibility 0s linear 10s, opacity 0.33s linear;
}

.input_shown {
    visibility: visible !important;
    opacity: 1;
    transition-delay: 0s;
}

td {
    border: 1px #DDD solid;
    padding: 5px;
    cursor: pointer;
}

#login-bg {
    background-image: url('/img/login-bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    /* Add the blur effect */
    filter: blur(35px);
    -webkit-filter: blur(35px);
}

#toast-container {
    color: white !important;
}

#login-wrap {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.login-form {
    /* position: absolute;
    margin: 0 auto; */
}

.login-box {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    /*background: var(--main-card-background);*/
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    padding-bottom: 5px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-box p {
    color: black !important;
}

.login-logo-img {
    width: 200px;
}

.login-btn {
    /* width:175px; */
    margin-top: 30px;
}

.login-input {
    /* opacity: 0.03 !important; */
    color: black !important;
    padding-left: 10px !important;
    background: #efefef !important;
    border: 0px !important;
}

.selected {
    background-color: brown;
    color: #FFF;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    /* position: fixed; */
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    -webkit-animation-name: fadeIn;
    /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: red;
    opacity: 1 !important;
}

/* ENSO DEFAULTS */

.enso-input {
    padding-left: 15px !important;
    /* -webkit-box-shadow: 0 0 0px 1000px black inset !important; */
    /* FOR CHROME: removes the default yellow box */
    border: 0px !important;
}

.enso-border {
    border-radius: 10px !important;
}

.enso-blue-bg {
    background-color: rgb(0, 63, 87) !important;
}

.enso-salmon-bg {
    background-color: rgb(241, 126, 126) !important;
}

.enso-gray-bg {
    background-color: rgb(242, 242, 242) !important;
}

.mobileAppIcon {
    width: 48px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.mobileAppIcon:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: 0.5s ease;
    /* Safari */
    transition: 0.5s ease;
}