<div id="page-wrapper">
    <div class="card-panel">
        <span class="main-accent-color" data-i18n="accounts.accounts"></span><br>
        <a class="waves-effect waves-light btn green-gradient-bg add-new-account-action" style="margin: 10px;"><i
                class="material-icons left">add_circle</i><span data-i18n="accounts.addAccount"></span></a>

        <ul class="list">
            <!--Operating Funds-->
            <li class="list-item">
                <div class="list-content" style="position: relative;">
                    <div id="acc-operating-funds-wrapper" class="acc-group-wrapper"
                         style="position:relative;">
                        <h5 class="valign-wrapper"><i class="grey-text medium-small material-icons">account_balance</i>&nbsp<span
                                data-i18n="topBar.operatingFunds"></span></h5>
                        <div id="acc-operating-funds-accs-wrapper">
                            <div style="text-align: center;"><p data-i18n="accounts.noAccountInGroup"></p>
                                <p><span
                                        data-i18n="accounts.youCanAddNewAccountPre"></span> <a class="add-new-account-action"
                                                                    style="cursor:pointer;">aqui</a>.</p>
                            </div>
                        </div>

                    </div>
                    <div class="accounts-account-group-total-wrapper">
                        <span data-i18n="accounts.total"></span>: <span id="account-group-operating-funds-total-balance-value"
                                     class="account-groups-total-balance-value">0.00€</span>
                    </div>
                </div>
            </li>
            <!--Credits-->
            <li class="list-item">
                <div class="list-content" style="position: relative;">
                    <div id="acc-credits-wrapper" class="acc-group-wrapper"
                         style="position:relative;">
                        <h5 class="valign-wrapper"><i class="grey-text medium-small material-icons">account_balance</i>&nbsp<span
                                data-i18n="accounts.debts"></span>
                        </h5>
                        <div id="acc-credits-accs-wrapper">
                            <div style="text-align: center;"><p data-i18n="accounts.noAccountInGroup"></p>
                                <p><span
                                        data-i18n="accounts.youCanAddNewAccountPre"></span> <a
                                        class="add-new-account-action"
                                        style="cursor:pointer;"><span
                                        data-i18n="accounts.here"></span></a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accounts-account-group-total-wrapper">
                        <span data-i18n="accounts.total"></span>: <span id="account-group-credits-total-balance-value"
                                     class="account-groups-total-balance-value">0.00€</span>
                    </div>
                </div>
            </li>
            <!--Investments-->
            <li class="list-item">
                <div class="list-content" style="position: relative;">
                    <div id="acc-investments-wrapper" class="acc-group-wrapper"
                         style="position:relative;">
                        <h5 class="valign-wrapper"><i class="grey-text medium-small material-icons">account_balance</i>&nbsp<span
                                data-i18n="accounts.investments"></span>
                        </h5>
                        <div id="acc-investments-accs-wrapper">
                            <div style="text-align: center;"><p data-i18n="accounts.noAccountInGroup"></p>
                                <p><span
                                        data-i18n="accounts.youCanAddNewAccountPre"></span> <a class="add-new-account-action"
                                                                    style="cursor:pointer;"><span
                                        data-i18n="accounts.here"></span></a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accounts-account-group-total-wrapper">
                        <span data-i18n="accounts.total"></span>: <span id="account-group-investments-total-balance-value"
                                     class="account-groups-total-balance-value">0.00€</span>
                    </div>
                </div>
            </li>
            <!--Others-->
            <li class="list-item">
                <div class="list-content" style="position: relative;">
                    <div id="acc-others-wrapper" class="acc-group-wrapper"
                         style="position:relative;">
                        <h5 class="valign-wrapper"><i class="grey-text medium-small material-icons">account_balance</i>&nbsp<span
                                data-i18n="accounts.others"></span>
                        </h5>
                        <div id="acc-others-accs-wrapper">
                            <div style="text-align: center;"><p data-i18n="accounts.noAccountInGroup"></p>
                                <p><span
                                        data-i18n="accounts.youCanAddNewAccountPre"></span> <a class="add-new-account-action"
                                                                    style="cursor:pointer;"><span
                                        data-i18n="accounts.here"></span></a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accounts-account-group-total-wrapper">
                        <span data-i18n="accounts.total"></span>: <span id="account-group-others-total-balance-value"
                                     class="account-groups-total-balance-value">0.00€</span>
                    </div>
                </div>
            </li>
        </ul>
        <div id="table-wrapper">

        </div>
    </div>
</div>


<script type="module">
  import { DialogUtils } from "../js/utils/dialogUtils.js";
  import { Accounts } from "../js/accounts.js";

  $(document).ready(function () {
    DialogUtils.initStandardModal()
    Accounts.init()
    $('.add-new-account-action').click(() => Accounts.addNewAccount())
  })
</script>
