<div id="page-wrapper">
    <div class="card-panel">
        <span class="main-accent-color" data-i18n="budgetDetails.newBudget"></span>
        <a id="clone-month-btn" class="waves-effect waves-light btn right-align"
           style="margin: 10px; float:right;"><i
                class="material-icons left">add_circle</i><span data-i18n="budgetDetails.cloneAnotherBudget"></span></a>
        <div class="row" style="margin-top:25px">
            <div class="col s2">
                <input id="budgets-monthpicker" type="text" placeholder=""/>
            </div>
            <div class="col s9 offset-s1">
                <div id="observations-shortcuts">
                    <div id="emoji-picker-container"></div>
                    <a id="budget_observations_shortcut_emoji_picker"
                       class="waves-effect waves-light budget-observations-shortcuts-box btn-small btn-flat white-text">🙃</a>
                    <a id="budget_observations_shortcut_separator1"
                       class="waves-effect waves-light budget-observations-shortcuts-box btn-small btn-flat white-text">•</a>
                    <a id="budget_observations_shortcut_separator2"
                       class="waves-effect waves-light budget-observations-shortcuts-box btn-small btn-flat white-text">-</a>
                    <a id="budget_observations_shortcut_separator3"
                       class="waves-effect waves-light budget-observations-shortcuts-box btn-small btn-flat white-text">⋆</a>
                </div>
                <textarea id="budget_observations" placeholder="Obervações..." class="materialize-textarea"></textarea>
            </div>


        </div>
        <div class="row">
            <div class="col s12">
                <div class="card blue-gradient-bg darken-1" style="border-radius: 10px;">
                    <div class="card-content white-text">
                        <div class="row">
                            <div class="col s4 center-align"><span id="estimated_expenses_label"></span><br><span
                                    id="estimated_expenses_value"
                                    class="new-budget-summary-card-values">0.00</span>
                            </div>
                            <div class="col s4 center-align"><span
                                    id="estimated_balance_label"></span><br><span
                                    id="estimated_balance_value"
                                    class="new-budget-summary-card-values">0.00</span>
                            </div>
                            <div class="col s4 center-align"><span id="estimated_income_label"></span><br><span
                                    id="estimated_income_value"
                                    class="new-budget-summary-card-values">0.00</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4 center-align"><span data-i18n="budgetDetails.initialBalance"></span><br><span id="estimated_initial_balance_value"
                                                                                                                             class="new-budget-summary-card-values">0.00</span>
                            </div>
                            <div class="col s4 center-align"><span data-i18n="budgetDetails.status"></span><br><span id="estimated_state_value"
                                                                                                                     class="new-budget-summary-card-values">Opened</span>
                            </div>
                            <div class="col s4 center-align"><span data-i18n="budgetDetails.finalBalance"></span><br><span id="estimated_closing_balance_value"
                                                                                                                           class="new-budget-summary-card-values"><span
                                    id="estimated_closing_balance_value_amount">0.00</span> (<span
                                    id="estimated_closing_balance_value_percentage">0</span>%)</span></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="live-calculator-wrapper" class="row" style="display:none;">
            <div class="col s3 center-align"> Poupanças (Estimado): <b>-€</b></div>
            <div class="col s3 center-align"> Poupanças (LIVE): <b>-€</b></div>
            <div class="col s3 center-align"> Poupanças Acumuladas (Estimado): <b>-€</b></b></div>
            <div class="col s3 center-align"> Poupanças Acumuladas (LIVE): <b>-€</b></div>
        </div>
        <div class="row">
            <div class="col s6">
                <h4><span data-i18n="common.debit"></span><span id="debit-essential-expenses-totals"></span>
                </h4>
                <div id="new-budget-debit-inputs"></div>
            </div>
            <div class="col s6">
                <h4><span data-i18n="common.credit"></span></h4>
                <div id="new-budget-credit-inputs"></div>
            </div>
        </div>
        <center class="add-budget-bottom-btns">
            <a id="conclusion-btn"
               class="waves-effect waves-light btn right-align btn-large green-gradient-bg" style="margin: 10px;"><i
                    class="material-icons no-accent-color left">add_circle</i><span id="conclusion-btn-text"></span></a>
            <span id="conclusion-close-btn"
                  class="waves-effect waves-light btn right-align btn-large orange orange-gradient-bg"
                  style="margin: 10px;display:none;"><i class="material-icons no-accent-color left">archive</i><span
                    id="conclusion-close-btn-text"></span></span>
        </center>

    </div>
</div>
<script src="../js/funcs/cloneMonthFunc.js" type="module"></script>
<script src="../js/funcs/categoryTooltipTransactionsFunc.js" type="module"></script>
<script type="module">
  import { BudgetDetails } from "../js/budgetDetails.js";
  import { DialogUtils } from "../js/utils/dialogUtils.js";
  /* PickerUtils.setupMonthPicker("#budgets-monthpicker", () => {
      $("#budgets-monthpicker").val();
  }) */

  $(document).ready(function () {
    var isNew = (configs.getUrlArgs()['new']) ? (configs.getUrlArgs()['new'] === 'true') : false
    var isOpen = (configs.getUrlArgs()['open']) ? (configs.getUrlArgs()['open'] === 'true') : false
    var budgetID = configs.getUrlArgs()['id']

    BudgetDetails.init(isOpen, isNew, budgetID)

    $('#conclusion-btn').click(() => BudgetDetails.onConclusionClicked())
    $('#conclusion-close-btn').click(() => BudgetDetails.onBudgetCloseClicked())
    $('#clone-month-btn').click(() => BudgetDetails.onCloneMonthClicked())

    DialogUtils.initStandardModal()
  })
</script>
