<!-- MODAL -->
<!-- Modal Structure -->
<div id="page-wrapper">
    <div class="card-panel">
        <span class="main-accent-color" data-i18n="budgets.budgets"></span>
        <div class="row">
            <a class="waves-effect waves-light btn right-align green-gradient-bg"
               onclick="configs.goToPage('budgetDetails',{'new': true, 'open' : true}, true);" style="margin: 10px;"><i
                    class="material-icons left">add_circle</i><span data-i18n="budgets.addBudget"></span></a>
            <p style="float:right;">
                <label>
                    <input type="checkbox" id="show_only_open_cb"/>
                    <span data-i18n="budgets.onlyOpened"></span>
                </label>
            </p>
        </div>

        <div id="table-wrapper">

        </div>
    </div>
</div>


<script type="module">
  import { DialogUtils } from "../js/utils/dialogUtils.js";
  import { Budgets } from "../js/budgets.js";

  $(document).ready(function () {
        DialogUtils.initStandardModal()
        Budgets.init();
    });

</script>