<div id="page-wrapper">
    <div class="row">
        <div class="col s10">
            <input id="dashboard-monthpicker" type="text" placeholder="Escolha um mês"/>
        </div>
        <div id="dashboard-last-update-timestamp" class="col s2 right-align"><strong><span
                data-i18n="dashboard.lastUpdate"></span></strong><br><span id="dashboard-last-update-timestamp-value">N/D</span>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            <div class="card-panel green-gradient-bg dashboard-btn" onclick="configs.goToPage('transactions');">
                <center>
                    <div class="card_quick_actions">
                        <span><i class="material-icons no-accent-color left">library_add</i><span data-i18n="dashboard.newTransaction"></span>
                    </div>
                </center>
            </div>
        </div>
        <div class="col s3">
            <div class="card-panel orange-gradient-bg dashboard-btn"
                 onclick="configs.goToPage('budgetDetails',{'new': true, 'open' : true}, true);">
                <center>
                    <div class="card_quick_actions">
                        <span><i class="material-icons no-accent-color left">assignment</i><span data-i18n="dashboard.newBudget"></span></span>
                    </div>
                </center>
            </div>
        </div>
        <div class="col s3">
            <div class="card-panel blue-gradient-bg dashboard-btn" onclick="configs.goToPage('transactions');">
                <center>
                    <div class="card_quick_actions">
                        <span><i class="material-icons no-accent-color left">library_books</i><span data-i18n="dashboard.seeTransactions"></span></span>
                    </div>
                </center>
            </div>
        </div>
        <div class="col s3">
            <div class="card-panel red-gradient-bg dashboard-btn" onclick="configs.goToPage('stats');">
                <center>
                    <div class="card_quick_actions">
                        <span><i class="material-icons no-accent-color left">assessment</i><span data-i18n="dashboard.seeStats"></span></span>
                    </div>
                </center>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s4">
            <div class="card-panel target-goals">
                <span style="color: var(--main-text-headline-color)">
                    <div>
                        <canvas id="chart-angular-target-goals" width="600" height="400"></canvas>
                        <center style="margin-top: -10px;"><span id="chart-monthly-overview-real-amount"
                                                                 style="font-size:150%"></span>/<span
                                id="chart-monthly-overview-budgeted-amount"></span></center>
                    </div>
                </span>
            </div>
        </div>
        <div class="col s8">
            <div class="card-panel last_movements">
                <span class="white-text"><span data-i18n="dashboard.recentTransactions"></span> <span
                        class="right-align"
                        style="float:right;"><a
                        href="#!transactions" onclick="configs.goToPage('transactions')"><span id="dashboard-trx-list-see-more" class="bold-link"
                        data-i18n="common.seeMore"></span></a></span>
                <div id="last_movements_table_wrapper">
                </div>
                <div class="empty-view"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="card-panel income_distribution" style="margin: 0 auto;">
                <center>
                    <canvas id="chart_pie_income_distribution" class="dashboard-pie-chart-canvas"></canvas>
                </center>
                <div class="empty-view"></div>
            </div>
        </div>
        <div class="col s6">
            <div class="card-panel spending_distribution" style="margin: 0 auto;">
                <center>
                    <canvas id="chart_pie_spending_distribution" class="dashboard-pie-chart-canvas"></canvas>
                </center>
                <div class="empty-view"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="card-panel investing_portfolio" style="margin: 0 auto;">
                <center>
                    <canvas id="chart_pie_investing_portfolio" class="dashboard-pie-chart-canvas"></canvas>
                </center>
                <div class="empty-view"></div>
            </div>
        </div>
        <div class="col s6">
            <div class="card-panel debt-distribution" style="margin: 0 auto;">
                <center>
                    <canvas id="chart_pie_debt_distribution" class="dashboard-pie-chart-canvas"></canvas>
                </center>
                <div class="empty-view"></div>
            </div>
            <script type="module">
              import { Dashboard } from '../js/dashboard.js'

              Dashboard.init()
            </script>
        </div>

    </div>
</div>
