<div id="page-wrapper">
    <div class="card-panel">
        <span class="main-accent-color">Estatísticas</span><br>
        <!--<a class="waves-effect waves-light btn right-align blue-gradient-bg" onclick="Entities.showAddEntityModal()"
            style="margin: 10px;"><i class="material-icons left">add_circle</i>Atualizar</a>-->

        <div class="row" style="margin-top:10px;">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s4"><a href="#tab-ev-pat" data-i18n="stats.netWorthEvolution"></a></li>
                    <li class="tab col s2"><a href="#tab-projections" data-i18n="stats.projections"></a></li>
                    <li class="tab col s2"><a href="#tab-expenses-per-cat" data-i18n="stats.expenses"></a></li>
                    <li class="tab col s2"><a href="#tab-income-per-cat" data-i18n="stats.income"></a></li>
                    <li class="tab col s2"><a href="#tab-year-by-year" data-i18n="stats.yearByYear"></a></li>
                </ul>
            </div>

            <div id="tab-ev-pat" class="col s12">
                <div class="card-panel">
                    <canvas id="chart_pie_patrimony_evolution" width="800"
                            height="300"></canvas>

                    <div id="patrimony-table" style="padding: 10px;margin-top: 20px;">

                    </div>
                </div>
            </div>
            <div id="tab-projections" class="col s12">
                <div class="card-panel">
                    <canvas id="chart_pie_patrimony_projection" width="800"
                            height="300"></canvas>

                    <div id="patrimony-projections-table" style="padding: 10px;margin-top: 20px;">

                    </div>
                </div>
            </div>
            <div id="tab-expenses-per-cat" class="col s12">
                <div class="card-panel">
                    <div id="expenses-month-year-toggle-wrapper" style="margin-left: 10px;"></div>
                    <div class="categories-select-wrapper"></div>
                    <div id="canvas_chart_expenses_evo_wrapper">
                        <canvas id="chart_pie_cat_expenses_evolution" width="800"
                                height="300"></canvas>
                    </div>

                    <div id="chart_pie_cat_expenses_evolution_table" style="padding: 10px;margin-top: 20px;">

                    </div>
                </div>
            </div>
            <div id="tab-income-per-cat" class="col s12">
                <div class="card-panel">
                    <div id="income-month-year-toggle-wrapper" style="margin-left: 10px;"></div>
                    <div class="categories-select-wrapper"></div>

                    <div id="canvas_chart_income_evo_wrapper">
                        <canvas id="chart_pie_cat_income_evolution" width="800"
                                height="300"></canvas>
                    </div>
                    <div id="chart_pie_cat_income_evolution_table" style="padding: 10px;margin-top: 20px;">

                    </div>
                </div>
            </div>
            <div id="tab-year-by-year" class="col s12" style="margin-top: 50px;">
                <div class="card-panel">
                    <div class="year-select-wrapper"></div>
                    <div class="chart">
                        <canvas id="chart"></canvas>
                    </div>
                    <!-- Category -->
                    <div class="row card-panel" style="border: 3px dotted var(--main-body-background);margin-top: 25px;">
                        <div class="col s6">
                            <h4 data-i18n="stats.incomeByCategory"></h4>
                            <div id="year-by-year-table-credit-wrapper" style="padding: 10px;"></div>
                        </div>
                        <div class="col s6">
                            <h4 data-i18n="stats.expensesByCategory"></h4>
                            <div id="year-by-year-table-debit-wrapper" style="padding: 10px;"></div>
                        </div>
                    </div>
                    <!-- Entity -->
                    <div class="row card-panel" style="border: 3px dotted var(--main-body-background);">
                        <div class="col s6">
                            <h4 data-i18n="stats.incomeByEntity"></h4>
                            <div id="year-by-year-table-credit-wrapper-entity" style="padding: 10px;"></div>
                        </div>
                        <div class="col s6">
                            <h4 data-i18n="stats.expensesByEntity"></h4>
                            <div id="year-by-year-table-debit-wrapper-entity" style="padding: 10px;"></div>
                        </div>
                    </div>
                    <!-- Tag -->
                    <div class="row card-panel" style="border: 3px dotted var(--main-body-background);">
                        <div class="col s6">
                            <h4 data-i18n="stats.incomeByTag"></h4>
                            <div id="year-by-year-table-credit-wrapper-tag" style="padding: 10px;"></div>
                        </div>
                        <div class="col s6">
                            <h4 data-i18n="stats.expensesByTag"></h4>
                            <div id="year-by-year-table-debit-wrapper-tag" style="padding: 10px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script type="module">
  import { DialogUtils } from "../js/utils/dialogUtils.js";
  import { Stats } from "../js/stats.js";

  $(document).ready(function () {
    DialogUtils.initStandardModal()

    $('.tabs').tabs({
      'onShow': (a, b) => {
        let activeID = $(a)[0]['id']
        Stats.changeTabs(activeID)
      },
    })

    //const selectedTab = (configs.hasOwnProperty("tab")) ? configs.getUrlArgs()["tab"] : undefined
    const argsArr = configs.getUrlArgs()
    const selectedTab = (argsArr && argsArr.hasOwnProperty('tab')) ? argsArr['tab'] : undefined
    /*if(!selectedTab){
        $('.tabs').tabs('select', "tab-ev-pat")
        Stats.changeTabs("tab-ev-pat")
    }*/
    switch (selectedTab) {
      case 'projections':
        $('.tabs').tabs('select', 'tab-projections')
        break
      case 'cat-expenses-evo':
        $('.tabs').tabs('select', 'tab-expenses-per-cat')
        break
      case 'cat-income-evo':
        $('.tabs').tabs('select', 'tab-income-per-cat')
        break
      case 'cat-year-by-year':
        $('.tabs').tabs('select', 'tab-year-by-year')
        break
      case 'ev-pat':
      default:
        $('.tabs').tabs('select', 'tab-ev-pat')
        break
    }
  })
</script>
