<div id="page-wrapper">

    <div class="card-panel">
        <span class="main-accent-color"><span data-i18n="tags.tags"></span><br>
        </span>
        <a id="add-new-tag-btn" class="waves-effect waves-light btn right-align blue-gradient-bg"
        style="margin: 10px;"><i class="material-icons left">add_circle</i><span
            data-i18n="tags.addTagCTA"></span></a>
        <div class="row">
            <div id="table-tags-wrapper"></div>
        </div>
    </div>

</div>


<script type="module">
  import { DialogUtils } from "../js/utils/dialogUtils.js";
  import { Tags } from "../js/tags.js";

  $(document).ready(function () {
    DialogUtils.initStandardModal()
    Tags.setupTransactionsTable();
    $("#add-new-tag-btn").click(() => Tags.showAddTagModal());
  })
</script>
