<div id="page-wrapper">
    <div class="card-panel">
        <span class="main-accent-color" data-i18n="transactions.transactions">Transações</span><br>
        <a id="add-transaction-btn" class="waves-effect waves-light btn right-align green-gradient-bg"
           style="margin: 10px;"><i class="material-icons left">add_circle</i><span data-i18n="transactions.addTransactionCTA"></span></a>
        <a onClick="configs.goToPage('importTransactions', null, true)"
           class="waves-effect waves-light btn right-align blue-gradient-bg"
           onclick="Transactions.showImportTransactionsModal()"
           style="margin: 10px;"><i class="material-icons left">add_circle</i><span data-i18n="transactions.importTransactionCTA"></span></a>

        <!-- <div class="row">
             <div class="col s8" style="min-height: 50px;background: black;"></div>
         </div>-->
        <div class="row">
            <div class="col s12">
                <div id="table-transactions-wrapper"></div>
            </div>
        </div>
    </div>
</div>

<script type="module">
  import { DialogUtils } from "../js/utils/dialogUtils.js";
  import { Transactions } from "../js/transactions.js";

  DialogUtils.initStandardModal()
  Transactions.setupTransactionsTable()
  $('#add-transaction-btn').click(() => Transactions.showAddTransactionModal())
</script>