/*
html,
body,
#root,
.app,
.content {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    !* additions here*!
    height: 100vh;
    background: black;
}


.main-container {
    background-color: #141b2d;
    color: white;
    height:100vh;
}*/
