/* COLORS:
    -> #262626 - dark grey  - for sidenav background
    -> #009688 - main green - for logo background
    -> #f3f3f3 - light grey - for main background
    -> #938f8f
*/

:root {
    --main-green: #009688;
    --dark-grey: #262626;
    --light-grey: #f3f3f3;
    --medium-grey: #938f8f;
    --medium-dark-grey: #aaa;
    --main-blue-background: #141f31;
    --sidebar_width_percentage: 12%;
}

.modal {
    overflow: visible !important;
}

.modal .modal-footer .btn-flat {
    color: black !important;
}

#page-wrapper {
    margin-left: 20px;
    margin-right: 20px;
}

#side-nav-logo-wrapper {
    height: 65px;
    width: 100%;
    margin-bottom: 25px;
}


.card-panel {
    background: var(--light-grey);
}

.top-nav {
    float: right;
    width: calc(100% - (var(--sidebar_width_percentage)));
    background: transparent;
    margin-bottom: 20px;
    box-shadow: none !important;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #00bcd4;
}

.side-nav {
    position: fixed;
    /* background-color: red; */
    height: 100%;
    width: var(--sidebar_width_percentage);
    float: left;
    margin-top: 0px;
}

.side-nav-menu li {
    width: 100%;
}

.side-nav-menu-active {
    background: #00bcd4;
    background: linear-gradient(to top, #0083B0, #00B4DB);
    background: -webkit-linear-gradient(to top, #0083B0, #00B4DB);
}

.side-nav-menu-inactive {
    background: transparent;
}

.side-nav-menu .material-icons {
    margin-top: 4px;
}

.inline-icon {
    vertical-align: bottom;
    font-size: 18px !important;
}

.dashboard-btn {
    min-height: 50px;
    cursor: pointer;
    color: white;
}

.dashboard-btn:hover {
    color: black;
}

#logo-text {
    padding-left: 10px;
    font-size: 180%;
}

#main-content {
    padding: 10px;
    float: right;
    width: calc(100% - (var(--sidebar_width_percentage)));
}

#side-nav-logo-img {
    width: 110px;
    margin: 17px;
}

@media only screen and (max-width: 1100px) {
    #side-nav-logo-img {
        width: 70%;
    }
}

.main-progress-bar {
    /* padding: 10px; */
    float: right;
    width: calc(100% - (var(--sidebar_width_percentage)));
}

.progress .indeterminate {
    background-color: var(--main-green);
}

.table-action-icons {
    cursor: pointer;
}

/* CONSTANTS */

.main-blue-background-bg {
    background: var(--main-blue-background);
}

.dark-gray-bg {
    background: var(--dark-grey);
}

.dark-gray-color {
    color: var(--dark-grey);
}

.light-gray-bg {
    background: var(--light-grey);
}

.light-gray-color {
    color: var(--light-grey);
}

.medium-gray-bg {
    background: var(--medium-grey)
}

.medium-dark-gray-bg {
    background: var(--medium-dark-grey)
}

.medium-dark-gray-color {
    color: var(--medium-dark-grey)
}

.medium-gray-color {
    color: var(--medium-grey);
}

.green-main-bg {
    background: var(--main-green);
}

.green-main-color {
    color: var(--main-green);
}

.blue-gradient-bg {
    background: -webkit-linear-gradient(45deg, #0288d1, #26c6da) !important;
    background: linear-gradient(45deg, #0288d1, #26c6da) !important;
}

.blue-gradient-bg:hover {
    background: -webkit-linear-gradient(120deg, #0288d1, #26c6da) !important;
    background: linear-gradient(120deg, #0288d1, #26c6da) !important;
}

.cool-blues-gradient-bg {
    background: -webkit-linear-gradient(45deg, #2193b0, #6dd5ed) !important;
    background: linear-gradient(45deg, #2193b0, #6dd5ed) !important;
}

.dark-ocean-gradient-bg {
    background: #373b44;
    background: -webkit-linear-gradient(to bottom, #373b44, #4286f4);
    background: linear-gradient(to bottom, #373b44, #4286f4);
}

.malibu-beach-gradient-bg {
    background-image: linear-gradient(to top, #4facfe 0%, #00f2fe 100%);
    background: -webkit-linear-gradient(to top, #4facfe 0%, #00f2fe 100%);
}

.blue-raspberry-gradient-bg {
    background: #00B4DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom #0083B0, #00B4DB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0083B0, #00B4DB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.royal-gradient-bg {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.red-gradient-bg {
    background: -webkit-linear-gradient(45deg, #ff5252, #f48fb1) !important;
    background: linear-gradient(45deg, #ff5252, #f48fb1) !important;
}

.red-gradient-bg:hover {
    background: -webkit-linear-gradient(120deg, #ff5252, #f48fb1) !important;
    background: linear-gradient(120deg, #ff5252, #f48fb1) !important;
}

.orange-gradient-bg {
    background: -webkit-linear-gradient(45deg, #ff6f00, #ffca28) !important;
    background: linear-gradient(45deg, #ff6f00, #ffca28) !important;
}

.orange-gradient-bg:hover {
    background: -webkit-linear-gradient(120deg, #ff6f00, #ffca28) !important;
    background: linear-gradient(120deg, #ff6f00, #ffca28) !important;
}

.green-gradient-bg {
    background: -webkit-linear-gradient(45deg, #43a047, #1de9b6) !important;
    background: linear-gradient(45deg, #43a047, #1de9b6) !important;
}

.green-gradient-bg:hover {
    background: -webkit-linear-gradient(120deg, #43a047, #1de9b6) !important;
    background: linear-gradient(120deg, #43a047, #1de9b6) !important;
}

.moonlit-asteroid-gradient-bg {
    background: -webkit-linear-gradient(45deg, #0F2027, #203A43, #2C5364) !important;
    background: linear-gradient(45deg, #0F2027, #203A43, #2C5364) !important;
}

.dark-gray-gradient-bg {
    background: -webkit-linear-gradient(45deg, #29323c, #485563) !important;
    background: linear-gradient(45deg, #29323c, #485563) !important;
}

.purple-gradient-bg {
    background: -webkit-linear-gradient(45deg, #667eea, #764ba2) !important;
    background: linear-gradient(45deg, #667eea, #764ba2) !important;
}

.pink-gradient-bg {
    background: -webkit-linear-gradient(45deg, #ee9ca7, #ffdde1) !important;
    background: linear-gradient(45deg, #ee9ca7, #ffdde1) !important;
}

.brown-gradient-bg {
    background: -webkit-linear-gradient(45deg, #c79081, #dfa579) !important;
    background: linear-gradient(45deg, #c79081, #dfa579) !important;
}

.dark-blue-gradient-bg {
    background: -webkit-linear-gradient(45deg, #243949, #517fa4) !important;
    background: linear-gradient(45deg, #243949, #517fa4) !important;
}

.light-green-gradient-bg {
    background: -webkit-linear-gradient(45deg, #96e6a1, #d4fc79) !important;
    background: linear-gradient(45deg, #96e6a1, #d4fc79) !important;
}

.dark-red-gradient-bg {
    background: -webkit-linear-gradient(45deg, #ED213A, #93291E) !important;
    background: linear-gradient(45deg, #ED213A, #93291E) !important;
}

.yellow-gradient-bg {
    background: -webkit-linear-gradient(45deg, #FFE884, #FFF493) !important;
    background: linear-gradient(45deg, #FFE884, #FFF493) !important;
}

.roseanna-gradient-bg {
    background: -webkit-linear-gradient(45deg, #ffafbd, #ffc3a0) !important;
    background: linear-gradient(45deg, #ffafbd, #ffc3a0) !important;
}

.mauve-gradient-bg {
    background: -webkit-linear-gradient(45deg, #42275a, #734b6d) !important;
    background: linear-gradient(45deg, #42275a, #734b6d) !important;
}

.lush-gradient-bg {
    background: -webkit-linear-gradient(45deg, #56ab2f, #a8e063) !important;
    background: linear-gradient(45deg, #56ab2f, #a8e063) !important;
}

.pale-wood-gradient-bg {
    background: -webkit-linear-gradient(45deg, #eacda3, #d6ae7b) !important;
    background: linear-gradient(45deg, #eacda3, #d6ae7b) !important;
}

.aubergine-gradient-bg {
    background: -webkit-linear-gradient(45deg, #aa076b, #61045f) !important;
    background: linear-gradient(45deg, #aa076b, #61045f) !important;
}

.orange-coral-gradient-bg {
    background: -webkit-linear-gradient(45deg, #ff9966, #ff5e62) !important;
    background: linear-gradient(45deg, #ff9966, #ff5e62) !important;
}

.decent-gradient-bg {
    background: -webkit-linear-gradient(45deg, #4ca1af, #c4e0e5) !important;
    background: linear-gradient(45deg, #4ca1af, #c4e0e5) !important;
}

.dusk-gradient-bg {
    background: -webkit-linear-gradient(45deg, #ffd89b, #19547b) !important;
    background: linear-gradient(45deg, #ffd89b, #19547b) !important;
}

/* RESET-CHECKBOX - to remove materializecss styling from checkbox inputs */

[type="checkbox"].reset-checkbox, [type="checkbox"].reset-checkbox:checked, [type="checkbox"].reset-checkbox:not(checked) {
    opacity: 1 !important;
    position: relative !important;
    pointer-events: auto;
}

[type="checkbox"].reset-checkbox + span::before, [type="checkbox"].reset-checkbox + span::after, [type="checkbox"].reset-checkbox:checked + span::before, [type="checkbox"].reset-checkbox:checked + span::after {
    display: none !important;
}

[type="checkbox"].reset-checkbox + span:not(.lever) {
    padding-left: 10px !important;
}

.progressbar-js-container {
    margin: 20px;
    width: 400px;
    height: 8px;
}

.afaneca_progressbar {
    width: 90%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}

.top-summary-wrapper {
    line-height: 24px;
    padding: 5px;
}

.top-summary-col {

}

.top-summary-label {
    font-weight: bold;
    font-size: x-small;
}

.top-summary-key {
    font-size: small;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    /*width: 120px;*/
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    /*z-index: 1;*/
    z-index: 2222222;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.add-budget-bottom-btns {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: #f3f3f3;
    padding: 10px;
    z-index: 999999999999 !important;
}

.highlighted-budget-item {
    background: -webkit-linear-gradient(45deg, #43a047, #1de9b6) !important;
    background: linear-gradient(45deg, #43a047, #1de9b6) !important;
    color: white !important;
    margin: 80px !important;
    height: 61px;
}

/* End tooltip */

@media only screen and (min-width: 1580px) {
    #chart-angular-target-goals {
        min-height: 316px;
    }
}