/* COLORS:
    -> #262626 - dark grey  - for sidenav background
    -> #009688 - main green - for logo background
    -> #f3f3f3 - light grey - for main background
    -> #938f8f
*/

:root {
    --main-green: #009688;
    --dark-grey: #262626;
    --light-grey: #f3f3f3;
    --medium-grey: #938f8f;
}

.modal {
    overflow: visible !important;
}

.modal .modal-footer .btn-flat {
    color: black !important;
}

#page-wrapper {
    margin-left: 20px;
    margin-right: 20px;
}

#side-nav-logo-wrapper {
    height: 65px;
    width: 100%;
}

.top-nav {
    float: right;
    width: 85%;
    background: white;
    margin-bottom: 20px;
}

.side-nav {
    position: fixed;
    /* background-color: red; */
    height: 100%;
    width: 15%;
    float: left;
    margin-top: 0px;
}

.side-nav-menu li {
    width: 100%;
}

.side-nav-menu-active {
    background: #1a1616;
}

.side-nav-menu-inactive {
    background: transparent;
}

.side-nav-menu .material-icons {
    margin-top: 4px;
}

.inline-icon {
    vertical-align: bottom;
    font-size: 18px !important;
}

#logo-text {
    padding-left: 10px;
    font-size: 180%;
}

#main-content {
    padding: 10px;
    float: right;
    width: 85%;
}

.main-progress-bar {
    /* padding: 10px; */
    float: right;
    width: 85%;
}

.progress .indeterminate {
    background-color: var(--main-green);
}

.table-action-icons {
    cursor: pointer;
}

/* CONSTANTS */

.dark-gray-bg {
    background: var(--dark-grey);
}

.dark-gray-color {
    color: var(--dark-grey);
}

.light-gray-bg {
    background: var(--light-grey);
}

.light-gray-color {
    color: var(--light-grey);
}

.medium-gray-bg {
    background: var(--medium-grey)
}

.medium-gray-color {
    color: var(--medium-grey);
}

.green-main-bg {
    background: var(--main-green);
}

.green-main-color {
    color: var(--main-green);
}

.blue-gradient-bg {
    background: -webkit-linear-gradient(45deg, #0288d1, #26c6da) !important;
    background: linear-gradient(45deg, #0288d1, #26c6da) !important;
}

.red-gradient-bg {
    background: -webkit-linear-gradient(45deg, #ff5252, #f48fb1)!important;
    background: linear-gradient(45deg, #ff5252, #f48fb1)!important;
}

.orange-gradient-bg {
    background: -webkit-linear-gradient(45deg, #ff6f00, #ffca28)!important;
    background: linear-gradient(45deg, #ff6f00, #ffca28)!important;
}

.green-gradient-bg {
    background: -webkit-linear-gradient(45deg, #43a047, #1de9b6)!important;
    background: linear-gradient(45deg, #43a047, #1de9b6)!important;
}