<div id="page-wrapper">
    <div class="card-panel">
        <span class="main-accent-color">Contas</span><br>
        <a class="waves-effect waves-light btn green-gradient-bg" style="margin: 10px;" onClick="Accounts.addNewAccount()"><i
                class="material-icons left">add_circle</i>Adicionar Conta</a>
        <div id="table-wrapper">

        </div>


    </div>
</div>



<script>
    $(document).ready(function () {
        DialogUtils.initStandardModal()
        Accounts.init()
    });   
</script>