<div id="page-wrapper">
    <div class="row">
        <div class="col s10">
            <input id="dashboard-monthpicker" type="text" placeholder="Escolha um mês"/>
        </div>
        <div id="dashboard-last-update-timestamp" class="col s2 right-align"><strong>Última
            atualização</strong><br><span id="dashboard-last-update-timestamp-value">N/D</span>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            <div class="card-panel green-gradient-bg dashboard-btn" onclick="configs.goToPage('transactions');">
                <center>
                    <div class="card_quick_actions">
                        <span><i class="material-icons no-accent-color left">library_add</i>Nova Transação</span>
                    </div>
                </center>
            </div>
        </div>
        <div class="col s3">
            <div class="card-panel orange-gradient-bg dashboard-btn"
                 onclick="configs.goToPage('budgetDetails',{'new': true, 'open' : true}, true);">
                <center>
                    <div class="card_quick_actions">
                        <span><i class="material-icons no-accent-color left">assignment</i>Novo Orçamento</span>
                    </div>
                </center>
            </div>
        </div>
        <div class="col s3">
            <div class="card-panel blue-gradient-bg dashboard-btn" onclick="configs.goToPage('transactions');">
                <center>
                    <div class="card_quick_actions">
                        <span><i class="material-icons no-accent-color left">library_books</i>Ver Movimentos</span>
                    </div>
                </center>
            </div>
        </div>
        <div class="col s3">
            <div class="card-panel red-gradient-bg dashboard-btn" onclick="configs.goToPage('stats');">
                <center>
                    <div class="card_quick_actions">
                        <span><i class="material-icons no-accent-color left">assessment</i>Ver Estatísticas</span>
                    </div>
                </center>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s4">
            <div class="card-panel target-goals">
                <span style="color: var(--main-text-headline-color)">
                    <div>
                        <canvas id="chart-angular-target-goals" width="600" height="400"></canvas>
                        <center style="margin-top: -10px;"><span id="chart-monthly-overview-real-amount"
                                                                 style="font-size:150%"></span>/<span
                                id="chart-monthly-overview-budgeted-amount"></span></center>
                    </div>
                </span>
            </div>
        </div>
        <div class="col s8">
            <div class="card-panel last_movements">
                <span class="white-text">Movimentos Recentes</span> <span class="right-align"
                                                                          style="float:right;"><a
                    href="#!transactions" onclick="configs.goToPage('transactions')">[Ver
                Mais...]</a></span>
                <div id="last_movements_table_wrapper">
                </div>
                <div class="empty-view"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="card-panel income_distribution">
                <canvas id="chart_pie_income_distribution" width="600" height="400"></canvas>
                <div class="empty-view"></div>
            </div>
        </div>
        <div class="col s6">
            <div class="card-panel spending_distribution">
                <canvas id="chart_pie_spending_distribution" width="600" height="400"></canvas>
                <div class="empty-view"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="card-panel investing_portfolio">
                <canvas id="chart_pie_investing_portfolio" width="600" height="400"></canvas>
                <div class="empty-view"></div>
            </div>
            <!--  <script>
                  var dataset2 = [73, 27];

                  var labels2 = [
                      'Conta Poupança (CGD)',
                      'Crypto',
                  ];

                  chartUtils.setupPieChart("chart_pie_investing_portfolio", dataset2, labels2, "Portefólio de Investimento");
              </script>-->
        </div>
        <div class="col s6">
            <div class="card-panel debt-distribution">
                <canvas id="chart_pie_debt_distribution" width="600" height="400"></canvas>
                <div class="empty-view"></div>
            </div>
            <script>
              Dashboard.init();
            </script>
        </div>

    </div>
</div>
