<div id="page-wrapper">
    <div class="card-panel">
        <span class="main-accent-color">Entidades</span><br>
        <a class="waves-effect waves-light btn right-align blue-gradient-bg" onclick="Entities.showAddEntityModal()"
            style="margin: 10px;"><i class="material-icons left">add_circle</i>Adicionar Entidade</a>
        <div class="row">
            <div class="col s12">
                <div id="table-entities-wrapper"></div>
            </div>
        </div>


    </div>
</div>


<script>
    DialogUtils.initStandardModal()
    Entities.getEntities()


</script>