<div id="page-wrapper">

    <div class="card-panel">
        <span class="blue-text text-darken-2">Regras para Auto-Categorização</span><br>
        <ul class="collapsible">
            <li>
                <div id="add-rule-collapsible-header" class="collapsible-header"><i class="material-icons">add_circle</i>Adicionar Regra</div>
                <div class="collapsible-body">
                    <div id="add-rule-form-wrapper"></div>
                </div>
            </li>
        </ul>
        <div id="table-wrapper">

        </div>


    </div>
</div>


<script>
    $(document).ready(function () {
        DialogUtils.initStandardModal()
        $('.collapsible').collapsible();
        Rules.init()
    });
</script>