<div id="page-wrapper">
    <div class="card-panel">
        <span class="blue-text text-darken-2">Estatísticas</span><br>
        <a class="waves-effect waves-light btn right-align blue-gradient-bg" onclick="Entities.showAddEntityModal()"
            style="margin: 10px;"><i class="material-icons left">add_circle</i>Atualizar</a>

        <div class="card-panel">
            <canvas id="chart_pie_patrimony_evolution" width="800" height="450"></canvas>
        </div>


    </div>
</div>

<!-- MODAL -->
<!-- Modal Structure -->
<div id="modal-stats" class="modal">
    <div class="modal-content"></div>
    <div class="modal-footer"></div>
</div>

<script>
    $('.modal').modal();
    Stats.init()


</script>